@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.NewReservMain .Hero{
    height: 310px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.NewReservMain .Hero .title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #F4CE14, #B5980F, #8E780C);
}
.NewReservMain .Hero .title h3{
    margin: 0px;
    font-family:sans-serif;
    font-size: 56px;
}
.NewReservMain .Hero .title h3:nth-child(2){
    color: #495E57;
}
.NewReservMain .Hero .title h3:nth-child(3){
    color: white;
}
.NewReservMain .Hero .image{
    width: 100%;
    height: 100%;
    background-image: url("../Assets/restauranfood.jpg");
    background-size: cover;
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    display: flex;
    place-items: center;
    color: #a5a59f;
}
.NewReservMain .Hero .image p{
    text-align: center;
    margin: 0px 10px;
}

.personalInfo{
    height: 480px;
    margin-top: 20px;
    background-color: #495E57;
}
.personalInfo h1{
    font-family: sans-serif;
    font-size: 36px;
    color: white;
   padding-top: 20px;
   margin: 0px auto 0px 100px;

}

.information{
    width: 1000px;
    height: 380px;
    margin-left: 100px;
    border: 1px solid hsl(0, 5%, 78%);
    border-radius: 16px;
}

.name-form{
 margin-left: 20px;
 margin-top: 20px;
 display: flex;

}
.name-form div{
    margin-right: 20px;
}
  
.address-form{
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
}
.address-form div{
    margin-right: 20px;
}

.address-form .Zip{
    width:175px;
}
.address-form .Zip input{
    width: 100%;
}

.email-form{
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
}
.email-form div{
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #ffff;
}
input {
    width: 360px;
    height: 60px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
  input:focus {
    outline: none;
    border-color: #2684ff;
    box-shadow: 0 0 5px rgba(38, 132, 255, 0.5);
  }

  .reservDetails{
    height: 550px;
    border: 1px solid black;
    margin-top: 20px;
  }
.details{
    width: 1000px;
}

.reservDetails h1{
    font-family: sans-serif;
    font-size: 36px;
    padding-top: 20px;
    margin: 0px auto 0px 100px;
}

.reservDetails .details{
    height: 370px;
    margin-top: 20px;
    margin-left: 100px;
    border: 1px solid black;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.time_date{
    display: flex;
}
.details .date {
    width: 225px;
    margin-left: 20px;
}
.details .date input{
    width: 100%;
}

.details .time {
    width: 225px;
    margin-left: 20px;
}
.details .time input{
    width: 150px;
}

.details .num_Guest{
    margin-left: 20px;
}
.details .event{
    margin-left: 20px;
}
.details .event select{
    width: 225px;
    height: 60px;
    font-size: 16px;
    border-radius: 16px;
}
.details .num_Guest button{
    width: 45px;
    height: 45px;
    margin: 0px 10px 0px 0px;
    border: 2px solid #48742C;
    border-radius: 50%;
    background-color: white;
    color: #48742C;
}
.details .num_Guest .button_selected{
    background-color: #48742C;
    color: white;
}

.details  .additionalInfo textarea{
    box-sizing: border-box;
    height: 150px;
    margin-right: 100px;
    padding-top: 10px;
    padding-left: 10px;
    resize: none;
    border-radius: 16px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    font-size: 16px;
}


.reservDetails button{
    width: 360px;
    height: 60px;
    margin-left: 100px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 16px;
    font-family: Poppins;
    font-size:large;
    background-color: #E9CC35;
}

footer{
    margin-top: 20px;
}